<nav class="navbar">
    <span class="navbar-brand mb-0 h2">Shelf Replenishment</span>
</nav>
<div class="row main-div">
    <div class="info-div col-md-4 col-sm-3">
        <div class="row mapping-div">
            <div class="col-md-12">
                <div class="row mapping-heading">
                    <fa-icon [icon]="faTable" style="margin-right:10px;"></fa-icon>
                    Mapping
                </div>
                <div class="row mapping-table-row">
                    <table class="table table-sm mapping-table">
                        <thead>
                            <tr>
                            <th class="text-center" scope="col">Shelf No.</th>
                            <th class="text-center"scope="col">Product</th>
                            <th class="text-center"scope="col">Space Available</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shelf of shelves;let y=index">
                                <td class="text-center">{{shelf.id}}</td>
                                <td class="text-center">
                                    <select [(ngModel)]="shelfSelected[y].product" (change)="selectionChange($event.target.value)">
                                            <option value="">None</option>
                                            <option *ngFor="let product of products" [value]="product.name" [disabled]="product.isSelected==true">
                                                {{product.name}}
                                            </option>
                                    </select>
                                </td>
                                <td class="text-center" *ngIf="shelf.id==1">{{shelf.availability}}%</td>
                                <td class="text-center" *ngIf="shelf.id==2">{{perOne}}%</td>
                                <td class="text-center" *ngIf="shelf.id==3">{{perTwo}}%</td>
                                <td class="text-center" *ngIf="shelf.id==4">{{shelf.availability}}%</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row submit-btn-row">
                    <button class="btn btn-primary" (click)="formSubmit()">Submit</button>
                </div>
            </div>
        </div>
        <div class="row updates-div">
                <div class="col-md-12">
                    <div class="row mapping-heading">
                        <fa-icon [icon]="faDatabase" style="margin-right:10px;"></fa-icon>
                        Updates
                    </div>
                    <div class="row updates-table">
                        <table class="table table-sm mapping-table">
                            <thead>
                                <tr style="color:#005662">
                                    <th class="text-center" scope="col" style="width:40%;">Time Stamp</th>
                                    <th class="text-center"scope="col" style="width:15%;">Product</th>
                                    <th class="text-center"scope="col" style="width:15%;">Shelf</th>
                                    <th class="text-center"scope="col" style="width:40%;">Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center" style="width:45%;">25 Mar 2018</th>
                                    <th class="text-center" style="width:15%;">2</th>
                                    <th class="text-center" style="width:40%;">2</th>
                                    <th class="text-center" style="width:15%;">-</th>
                                </tr>
                                <!-- <tr>
                                    <th class="text-center" style="width:45%;">25 Mar 2018</th>
                                    <th class="text-center" style="width:15%;">3</th>
                                    <th class="text-center" style="width:40%;">3</th>
                                    <th class="text-center" style="width:15%;">-</th>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <div class="stream-div col-md-5 col-sm-6">
        <div class="row camera-feed-row">
            <ng-container *ngIf="videoInput1==null; else videoInputOne">
                <button class="btn btn-secondary camerafeedBtn" disabled> 
                        <fa-icon [icon]="faVideo" style="margin-right:10px; font-size: 100px"></fa-icon>
                </button>
            </ng-container>
            <ng-template #videoInputOne>
                <img [src]="videoInput1" />                
            </ng-template>
            
        </div>
        <div class="row camera-feed-row">
            <ng-container *ngIf="videoInput2==null; else videoInputTwo">
                    <button class="btn btn-secondary camerafeedBtn" disabled> 
                        <fa-icon [icon]="faVideo" style="margin-right:10px; font-size: 100px"></fa-icon>
                        </button>
            </ng-container>
            <ng-template #videoInputTwo>
                <img src="{{videoInput2}}" />
            </ng-template>
        </div>
    </div>
    <div class="notification-div col-md-3 col-sm-3">
        <div class="notification-heading row">
            <div>
                <fa-icon [icon]="faBell" style="margin-right:10px;"></fa-icon>
                Notifications
            </div>
        </div>
        <div class="notification-body row">
            <div class="notification-row row" *ngIf="alert2==true">
                <p>Kindly refill Shelf 3 containing Cold Drink Can!</p>
            </div>
            <!-- <div class="notification-row" *ngIf="alert2==true">
                <p>Kindly refill Shelf 3 containing Cold Drink Can!</p>
            </div> -->
        </div>
    </div>
</div>